<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>부트스트랩 원본</title>
    <!-- base:css -->
    <link rel="stylesheet" href="vendors/typicons/typicons.css">
    <link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="images/favicon.png" />
</head>

<body>

<!-- partial:partials/_navbar.html -->
<div th:replace="partials/_navbar::navbar"></div>

<!-- partial:partials/_settings-panel.html -->
<div th:replace="partials/_settings-panel::settings-panel"></div>

<!-- partial:partials/_sidebar.html -->
<div th:replace="partials/_sidebar::sidebar"></div>

<!-- partial:partials/_footer.html -->
<div th:replace="partials/_footer::footer"></div>


<!-- 몸통
    <div layout:fragment="content" class="content"></div>
 -->



</body>
</html>