<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<th:block layout:fragment="script">
    <script th:inline="javascript">

<!--        $(document).ready(function(){-->
<!--            var token = $("meta[name'_csrf']").attr("content");-->
<!--            var header = $("meta[name'_csrf_header']").attr("content");-->

<!--            var url = "/";-->

<!--            $.ajax({-->
<!--              url: url ,-->
<!--              data : ${companyList},-->
<!--              type: 'GET',-->
<!--              success: function onData(data){-->
<!--                param-->



<!--              console.log(data);-->
<!--            },-->
<!--              error: function onError(error){-->
<!--                console.error(error);-->
<!--              }-->
<!--            });-->

<!--        });-->




    </script>
</th:block>


<!-- 하트 클릭 시, style.css 파일
 i.menu-arrow 검색 -> i.menu-heart로 변경함
content: "\e088"; 는 풀하트
content: "\e087"; 는 빈하트


아이콘 + 눌렀을 시 -로 변하는 건
template.js에서 collapse 를 검색

 -->
<body>
<nav th:fragment="sidebar" class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link">
                <i class="typcn typcn-device-desktop menu-icon"></i>
                <span class="menu-title">주식종목</span>
            </a>
        </li>
    </ul>

        <!--        하트 없음-->
<!--        <button type="button" class="btnFav"><i class="typcn typcn-heart-outline"></i></button>-->

<!--        하트 있음-->
<!--        <button type="button" class="btnFav"><i class="typcn typcn-heart-full-outline"></i></button>-->
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/chart?symbol=kakao" aria-controls="form-elements">
                <span class="menu-title">카카오</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/chart?symbol=samsung" aria-controls="form-elements">
                <span class="menu-title">삼성</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/chart?symbol=tesla" aria-controls="form-elements">
                <span class="menu-title">테슬라</span>
            </a>
        </li>
    </ul>

</nav>
</body>

</html>