<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<nav th:fragment="sidebar" class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" style="text-align: center;">
                <i class="typcn typcn-document-text menu-icon"></i>
                <span class="menu-title">관심종목</span>
            </a>
        </li>

        <!-- 즐겨찾기 리스트 -->
        <li class="nav-item">
            <a class="nav-link" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="typcn typcn-heart-full-outline-box"></i>
                <span class="menu-title">회사 명칭</span>
                <span>
                <i class='mdi mdi-star'></i>
              </span>
            </a>
        </li>
        <!-- 즐겨찾기 빈 start -->
        <!-- <i class='mdi mdi-star-outline'></i> -->

    </ul>
</nav>


</html>